body {
    background-image: url("https://img.freepik.com/free-vector/starry-night-sky-wallpaper-perfect-combination-science-art_1017-43427.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
  }
  
  #container {
    margin: 20px auto;
    width: 400px;
    background-color: rgba(169, 200, 218, 0.8);
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .delete {
    color: red;
    margin-left: 10px;
    cursor: pointer;
  }